/* Typography */

#block-umlib-blogs-page-title h1 {
  font-size: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding-bottom: 0;
}

#blog-page  h1 {
  font-size: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-left: solid 4px var(--color-teal-400);
  padding-bottom: 0;
  padding-left: .5rem;
}

/* Images */

.image-caption {
  padding-bottom: 1rem;
  font-style: italic;
}