/* Menus */

#block-umlib-blogs-usermenu ul li a,
#block-umlib-blogs-usermenu ul li,
.primary-edit-tasks li,
.primary-edit-tasks li a {
  text-transform: uppercase;
  color: var(--color-neutral-300);
  text-decoration: none;
}

#block-umlib-blogs-usermenu ul li a:hover {
  text-decoration: underline;
}

#block-umlib-blogs-usermenu ul li,
.primary-edit-tasks li {
  padding-right: .75rem;
}

span[data-drupal-link-system-path="user"] {
  text-transform: lowercase;
  padding-left: .25rem;
}

span[data-drupal-link-system-path="user"]::before {
  font-family: "Material Icons";
  content: '\e7fd';
  vertical-align: bottom;
  padding-right: .125rem;
}

.primary-edit-tasks {
  display: flex;
  justify-content: right;
  flex-flow: row wrap;
}

/* Recent Posts */

.recent-posts .views-field.views-field-created span.field-content {
  color: var(--color-neutral-300);
  text-transform: uppercase;
  font-weight: var(--semibold);
  font-size: var(--text-base-size);
}

.recent-posts .views-field.views-field-title span.field-content a {
  color: var(--color-neutral-400);
  font-size: 18px;
  font-weight: var(--semibold);
}

#block-views-block-recent-posts-block-2 {
  margin-top: 2rem;
}

.recent-posts > footer {
  margin-top: 1.5rem;
}

/* Search Forms */

/* Search form A-Z */

/* Aside forms use grid */
aside #views-exposed-form-all-posts-page-1, aside #views-exposed-form-recent-posts-block-1 {
  display: grid;
  margin: 1rem 0 1rem;
  align-items: start;
  row-gap: 1.5rem;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
       "a b"
       "c c"
}

#views-exposed-form-all-posts-page-1 > #edit-keys--2 {
 grid-area: a;
}

#views-exposed-form-all-posts-page-1 > input#edit-submit-all-posts--2 {
  grid-area: b;
 }
 
 #views-exposed-form-all-posts-page-1 > .js-form-item-blog {
  grid-area: c;
 }

 .js-form-item-blog > label {
  display: block;
  font-weight: var(--bold);
  padding-bottom: .5rem;
 }

 .js-form-item-blog > select {
  width: 100% !important;
 }
 
/* Tags */

/* A-Z Tags */

.tags {
  margin-top: 2rem;
}

.tags .views-field.views-field-name {
  background-color: var(--color-neutral-100);
  border-radius: 4px;
  padding: .5rem;
}

.tags .views-field.views-field-tid {
  display: none;
}

.tags .views-field.views-field-name a {
  text-decoration: none;
  color: var(--color-neutral-400);
}

.tags .views-field.views-field-name a:hover {
  font-weight: bold;
}

.tags>div>div {
  display: flex;
  flex-flow: row wrap;
  gap: 1.5rem .5rem;
}

.tags>h3 {
  margin-bottom: 2rem;
} 

/* Blog post tags */

.blog-tag-group {
  display: flex;
  align-items: baseline;
  margin: 2rem 0;
  flex-flow: row wrap;
}

.blog-tag-group h3 {
  padding-right: 1rem;
}

.blog-tag-list {
  padding: 0;
  margin: 0;
  max-width: 75ch !important;
}

.blog-tag-list li {
  display: inline;
  background-color: var(--color-neutral-100);
  border-radius: 4px;
  padding: .5rem;
  margin: .5rem;
}

.blog-tag-list li a {
  text-decoration: none;
  color: var(--color-neutral-400);
}

.blog-tag-list li a:hover {
  font-weight: bold;
}

/* Blog post author */

.blog-author-group {
  display: inline-flex;
  margin-bottom: 1rem;
  align-items: flex-start;
}
.blog-author-group .blog-author {
  padding-right: .5rem;
  color: var(--color-neutral-300);
  text-transform: uppercase;
  font-weight: var(--semibold);
  font-size: var(--text-base-size);
}

.blog-author-group div {
  display: flex;
  align-items: center;
  padding-right: .5rem;
}

/* Blog post content */

.blog-post-content p {
  padding: .5rem 0;
}

.blog-post-content ul, .blog-post-content ol {
  padding-left: 1rem;
  max-width: 50ch;
}

.blog-post-content ul li {
  list-style-type: circle;
}

.blog-post-content img {
  max-width: 50%;
  display: block;
}

.blog-post-content h3, .blog-post-content h2 {
  padding-top: 1rem;
}

/* A-Z Cards */

.views-row {
  margin-top: 1.5rem;
}

.a-z-view {
  margin-bottom: 2rem;
}

.a-z-column-card {
  padding-right: .5rem;
}

@media screen and (max-width: 768px) {
  .a-z-column-card {
    width: 85vw !important;
    margin-bottom: 1.5rem;
  }
  .a-z-column-card img {
    width: 85vw !important;
    height: auto;
  }  
  .layout-content {
    border-bottom: solid 1px var(--color-neutral-100);
    padding: 0;
    margin-bottom: 2rem;
  }
}

.a-z-column-card a {
  color: var(--color-neutral-400);
  font-weight: var(--semibold);
  font-size: 1.125rem;
  text-decoration: underline;
  text-decoration-color: var(--color-teal-400);
  text-underline-offset: 4px;
}

.a-z-column-card img {
  width: 250px;
  height: auto;
}

.a-z-column-card .field-content {
  color: var(--color-neutral-300);
}

.a-z-column-card .views-field-title {
  margin-bottom: .25rem;
}

.a-z-column-card:last-child {
  margin-bottom: 0;
}

/* Views Fields Title, Date, Description, and Author */

.views-field-created,
.views-field-field-author-s- {
  color: var(--color-neutral-300);
  text-transform: uppercase;
  font-weight: var(--semibold);
  font-size: var(--text-base-size);
}

.views-field-title a {
  color: var(--color-neutral-400);
  font-weight: var(--semibold);
  font-size: 1.125rem;
  text-decoration: underline;
  text-decoration-color: var(--color-teal-400);
  text-underline-offset: 4px;
}

.views-field-title {
  margin-top: .5rem;
}

.views-field-field-blog-post-summary,
.views-field-field-blog-post-body {
  color: var(--color-neutral-300);
  text-decoration: none;
  padding: .5rem 0;
}

.views-field-title-1 a,
.views-field-og-audience a {
  display: flex;
  align-items: center;
  color: var(--color-neutral-300);
  text-decoration: none;
  font-size: 1.125rem;
  gap: 4px;
}

.views-field-title-1 a::before,
.views-field-og-audience a::before {
  font-family: 'Material Icons';
  content: "\e892";
  color: var(--color-teal-400);
}

.tag-posts header,
.all-posts header {
  color: var(--color-neutral-300);
}

/* Posts page */

.social-media .field-content {
  display: flex;
  flex-direction: column;
  text-decoration:none;
  padding-top: .5rem;
}

.social-media .views-label {
  color: var(--color-neutral-400);
}

.social-media .field-content a {
  text-decoration:none;
}

.social-media .field-content .email::before {
  font-family: "Material Icons";
  content: '\e0be';
  vertical-align: bottom;
  padding-right: .125rem;
}

/* All posts & Recent Posts - Post Cards */

/* These use grid */

.card-all-posts, .card-recent-posts {
  margin: 2rem 0;
  border-bottom: solid 1px var(--color-neutral-100);
  padding: 0 2rem 2rem 0;
  max-width: 80ch;
  display: grid;
  align-items: start;
  grid-template-columns: 10rem 11rem 4fr;
  grid-template-rows: fit-content(4ch) fit-content(8ch) 1fr;
  grid-template-areas:
       "a b c"
       "a d d"
       "a e e"
       "a f f";
}

@media screen and (max-width: 769px)  {
  .card-all-posts, .card-recent-posts  {
    display: block;
  }
}

.card-all-posts > div.views-field.views-field-field-blog-feature-image-media img, .card-recent-posts > div.views-field.views-field-field-blog-feature-image-media img {
  object-fit: contain;
  object-position: top left;
  width: 8.5rem;
}

.card-all-posts > div.views-field.views-field-field-blog-feature-image-media,
.card-recent-posts > div.views-field.views-field-field-blog-feature-image-media {
 grid-area: a;
}

.card-all-posts > span.views-field.views-field-created,
.card-recent-posts > span.views-field.views-field-created {
 grid-area: b;
}

.card-all-posts > span.views-field.views-field-field-author-s-,
.card-recent-posts > span.views-field.views-field-field-author-s-
 {
 grid-area: c;
 padding-left: 0.5rem;
}

.card-all-posts > div.views-field.views-field-title,
.card-recent-posts > div.views-field.views-field-title
 {
 grid-area: d;
}
.card-all-posts > div.views-field.views-field-field-blog-post-summary,
.card-recent-posts > div.views-field.views-field-field-blog-post-summary {
 grid-area: e;
}

.card-all-posts > div.views-field.views-field-title-1, 
.card-recent-posts > div.views-field.views-field-title-1 {
 grid-area: f;
}

