/* Navigation Menus */

#block-umlib-blogs-usermenu ul li a,
#block-umlib-blogs-usermenu ul li,
.primary-edit-tasks li,
.primary-edit-tasks li a {
  text-transform: uppercase;
  color: var(--color-neutral-300);
  text-decoration: none;
}

#block-umlib-blogs-usermenu ul > li > a:hover,
#block-umlib-blogs-local-tasks > ul.primary-edit-tasks > li > a:hover {
  text-decoration: underline;
}

#block-umlib-blogs-usermenu ul li,
.primary-edit-tasks li {
  padding-right: .75rem;
}

@media screen and (max-width: 620px)  {
  #block-umlib-blogs-usermenu > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 0;
  }
  #block-umlib-blogs-usermenu > ul > li {
    padding: 0.5rem 1rem 0.5rem 0;
  }
  #block-umlib-blogs-local-tasks > ul.primary-edit-tasks {
    justify-content: left;
    margin-bottom: 0;
    margin-top: .5rem;
  }
  #block-umlib-blogs-local-tasks > ul.primary-edit-tasks > li {
    padding: 0.5rem 1rem 0.5rem 0;
  }
}

span[data-drupal-link-system-path="user"] {
  text-transform: lowercase;
  padding-left: .25rem;
}

span[data-drupal-link-system-path="user"]::before {
  font-family: "Material Icons";
  content: '\e7fd';
  vertical-align: bottom;
  padding-right: .125rem;
}

.primary-edit-tasks {
  display: flex;
  justify-content: right;
  flex-flow: row wrap;
}

/* Blog post date */

#block-views-block-post-date-block-1 {
  padding-right: 0.5rem;
  color: var(--color-neutral-300);
  text-transform: uppercase;
  font-weight: var(--semibold);
  font-size: var(--text-base-size);
  margin-bottom: .75rem;
}

/* Get in Touch */

.get-in-touch__block {
  border-top: solid 1px var(--color-neutral-100);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.paragraph--type--get-in-touch {
  padding: 0.5rem 0;
}

/* Recent Posts */

.recent-posts-block {
  border-top: solid 1px var(--color-neutral-100);
  padding-top: 1rem;
}

.recent-posts .views-field.views-field-created span.field-content {
  color: var(--color-neutral-300);
  text-transform: uppercase;
  font-weight: var(--semibold);
  font-size: var(--text-base-size);
}

.recent-posts .views-field.views-field-title span.field-content a {
  color: var(--color-neutral-400);
  font-size: 18px;
  font-weight: var(--semibold);
}

.recent-posts > footer {
  margin-top: 1.5rem;
}

/* Search Forms */

/* Search form A-Z */

/* Aside forms use grid */
aside #views-exposed-form-all-posts-page-1, aside #views-exposed-form-recent-posts-block-1 {
  display: grid;
  margin: 1rem 0 0;
  align-items: start;
  row-gap: 1.5rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
       "a b"
       "c c"
}

#block-exposedformall-postspage-1 > div > a {
  display: block;
  margin-top: 1rem;
}

@media screen and (max-width: 1170px) {
  aside #views-exposed-form-all-posts-page-1, aside #views-exposed-form-recent-posts-block-1 {
    width: 100%;
  }
  input#edit-keys {
    width: 100% !important;
  }
}

#views-exposed-form-all-posts-page-1 > #edit-keys--2 {
 grid-area: a;
}

#views-exposed-form-all-posts-page-1 > input#edit-submit-all-posts--2 {
  grid-area: b;
 }
 
 #views-exposed-form-all-posts-page-1 > .js-form-item-blog {
  grid-area: c;
 }

 .js-form-item-blog > label {
  display: block;
  font-weight: var(--bold);
  padding-bottom: .5rem;
 }

 .js-form-item-blog > select {
  width: 100% !important;
 }
 
/* More information */

.more-information {
  padding-top: 1rem;
  border-top: solid 1px var(--color-neutral-100);
}

.more-information > div > div > div > ul > li:not(:last-child) {
  padding-bottom: .5rem;
}

/* Tags */

/* A-Z Tags */

#a-z-page .tags {
  margin-top: 2rem;
}

.tags {
  margin-bottom: 2rem;
  padding-top: 1rem;
  border-top: solid 1px var(--color-neutral-100);
}

.tags .views-field.views-field-tid {
  display: none;
}

.tags a {
  text-decoration: none;
  color: var(--color-neutral-400);
  background-color: var(--color-neutral-100);
  border-radius: 4px;
  padding: .5rem;
}

.tags a:hover {
  border-bottom: solid 2px var(--color-teal-400);
  border-radius: 4px;
}

.tags>div>div,
.a-z-tags {
  display: flex;
  flex-flow: row wrap;
  gap: 1.5rem .5rem;
}

.tags>h3 {
  margin-bottom: 2rem;
} 

/* Blog post tags */

.blog-tag-group {
  display: flex;
  align-items: baseline;
  margin: 2rem 0;
  padding-top: 1rem;
  flex-flow: row wrap;
  border-top: solid 1px var(--color-neutral-100);
}

.blog-tag-group h2 {
  font-size: 1.25rem;
  padding-right: 1rem;
}

ul.blog-tag-list {
  display: inline-flex;
  flex-flow: row wrap;
  padding: 0 !important;
  margin: 0 !important;
}

.blog-tag-list li {
  display: inline;
  margin: .75rem .5rem;
}

.blog-tag-list li a {
  text-decoration: none;
  color: var(--color-neutral-400);
  background-color: var(--color-neutral-100);
  border-radius: 4px;
  padding: .5rem;
}

.blog-tag-list li a:hover {
  border-bottom: solid 2px var(--color-teal-400);
  border-radius: 4px;
}

/* Blog post author */

.blog-author-group {
  display: inline-flex;
  margin-top: 1rem;
  align-items: baseline;
}
.blog-author-group .blog-author {
  padding-right: .5rem;
 
}

.blog-author-group div {
  display: flex;
  align-items: center;
  padding-right: .5rem;
}

/* Blog post content */

.blog-post-content p {
  padding: .5rem 0;
}

.blog-post-content ul, .blog-post-content ol {
  padding-left: 1rem;
  max-width: 50ch;
  margin: 0px 0px 0px 1.5rem;
}

.blog-post-content ul li {
  list-style-type: disc;
}

.blog-post-content img {
  max-width: 60ch;
  height: auto;
  display: block;
  margin-top: 1.5rem;
}

@media screen and (max-width: 768px) {
  .blog-post-content img {
    max-width: calc(100% - 2rem);
  }
}

.blog-post-content h2, 
.blog-post-content h3, 
.blog-post-content h4, 
.blog-post-content h5 {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

/** This breaks the URL in a blog post **/

.blog-post-content a[href] {
  word-break: break-word;
}


/* Featured Image */

.featured-image  .image-caption {
  color: var(--color-neutral-300);
  font-style: normal;
}

.image-caption, figcaption {
  color: var(--color-neutral-300);
  font-style: normal;
  max-width: 60ch;
}

/* Videos */

.blog-post-content iframe {
  max-width: 60ch;
  aspect-ratio: 16 / 9;
	height: 100%;
	width: 100%;
  margin: .5rem 0;
}

/* A-Z Cards */

.views-row {
  margin-top: 1.5rem;
}

.a-z-view {
  margin-bottom: 2rem;
}

.a-z-view-link {
  display: inline-block;
  text-decoration: none;
  max-width: 255px;
}

@media screen and (max-width: 768px) {
  .a-z-column-card {
    width: 85vw !important;
    margin-bottom: 1.5rem;
  }
  .a-z-column-card img {
    width: 85vw !important;
    height: auto;
  }  

  .a-z-view-link {
    max-width: 100%;
  }

  .layout-content {
    border-bottom: solid 1px var(--color-neutral-100);
    padding: 0;
    margin-bottom: 2rem;
  }
}

.a-z-column-card .views-field-title .field-content {
  color: var(--color-neutral-400);
  font-weight: var(--semibold);
  font-size: 1.125rem;
  text-decoration: underline;
  text-decoration-color: var(--color-teal-400);
  text-underline-offset: 4px;
}

.a-z-column-card img {
  width: 250px;
  height: auto;
}

.a-z-column-card .views-field-field-blog-description {
  color: var(--color-neutral-300);
  text-decoration: none;
  font-size: 1rem;
  font-weight: normal;
}

.a-z-column-card .views-field-title {
  margin-bottom: .25rem;
}

/* Views Fields Title, Date, Description, and Author */

.views-field-created,
.views-field-field-author-s- {
  color: var(--color-neutral-300);
  text-transform: uppercase;
  font-weight: var(--semibold);
  font-size: var(--text-base-size);
}

.views-field-title a,
a .views-field-title span {
  color: var(--color-neutral-400) !important;
  font-weight: var(--semibold);
  font-size: 1.125rem;
  text-decoration: underline;
  text-decoration-color: var(--color-teal-400);
  text-underline-offset: 4px;
}
.views-field-title a:hover,
.views-field-title span:hover {
  box-shadow: inset 0 -1px var(--color-teal-400);
}

.views-field-title {
  margin-top: .5rem;
}

.views-field-field-blog-post-summary,
.views-field-field-blog-post-body {
  color: var(--color-neutral-300);
  text-decoration: none;
  padding: .5rem 0;
}

.views-field-title-1 a,
.views-field-og-audience a {
  display: flex;
  align-items: center;
  color: var(--color-neutral-300);
  text-decoration: none;
  font-size: 1.125rem;
  gap: 4px;
}

.views-field-title-1 a::before,
.views-field-og-audience a::before {
  font-family: 'Material Icons';
  content: "\e892";
  color: var(--color-teal-400);
}

.tag-posts header,
.all-posts header {
  color: var(--color-neutral-300);
}

.tag-posts header {
  display: flex;
}

@media screen and (max-width: 620px)  {
  .tag-posts header {
    display: flex;
    flex-flow: column;
  }
}

.tag-posts header > * + * {
  padding-right: 1rem;
}


/* Posts page */
.social-media {
  border-top: solid 1px var(--color-neutral-100);
}

.social-media .field-content {
  display: flex;
  flex-direction: column;
  text-decoration:none;
  padding-top: .5rem;
}

.social-media .views-label {
  font-weight: var(--semibold);
  font-size: 1.125rem;
  color: var(--color-neutral-400);
}

.social-media .field-content a {
  text-decoration:none;
}

/* All posts & Recent Posts - Post Cards */

.all-posts, .tag-posts {
  margin-top: 3rem;
}

.year-menu > li > ul {
  padding-left: .5rem;
}

.year-menu > li {
  padding-bottom: .25rem;
}

.recent-posts-blog .views-row, .all-posts .views-row, .tag-posts .views-row,
.author-posts .views-row {
  padding-bottom: 1rem;
  border-bottom: solid 1px var(--color-neutral-100);
  max-width: 65ch;
}


.recent-posts-blog .views-row:last-child, 
.all-posts .views-row:last-child, 
.tag-posts .views-row:last-child,
.author-posts .views-row:last-child {
  border-bottom: none;
} 

.views-field-field-blog-post-summary {
   overflow-wrap: break-word;
   word-wrap: break-word;
   word-break: break-word;
}

div#block-exposedformrecent-postsblock-1 {
  padding-bottom: 1rem;
}

#block-views-block-recent-posts-block-1 h2,
#block-exposedformrecent-postsblock-1 h2,
#block-views-block-recent-posts-block-1 h3,
#block-exposedformrecent-postsblock-1 h3 {
  margin-top: 2rem;
}

.post-card > div.views-field.views-field-field-blog-post-body > div > p > img{
  max-width: 50%;
}

/* RSS */

.rss-feed a {
  margin-top: 1rem;
  color: var(--color-neutral-300) !important;
  font-weight: var(--semibold);
  text-decoration: none !important;
}

.rss-feed a::before {
  font-family: "Material Icons";
  content: '\e0e5';
  vertical-align: bottom;
  padding-right: .5rem;
  color: var(--color-neutral-300);
}

/* Subscribe */

.subscribe {
  border-top: solid 1px var(--color-neutral-100);
  padding-top: 1rem;
}

.subscribe h3 {
  margin-bottom: -.75rem;
}

#block-views-block-subscribe-anon-block-1 a {
  color: var(--color-neutral-300) !important;
  font-weight: var(--semibold);
  text-decoration: none !important;
  font-size: 1.125rem;
}

#block-views-block-subscribe-anon-block-1 a::before {
  font-family: "Material Icons";
  content: '\e0be';
  vertical-align: bottom;
  padding-right: .5rem;
  color: var(--color-neutral-300);
} 

.subscribe a {
  color: var(--color-neutral-300) !important;
  font-weight: var(--semibold);
  text-decoration: none !important;
  font-size: 1.125rem;
}

.subscribe a::before {
  font-family: "Material Icons";
  content: '\e0be';
  vertical-align: bottom;
  padding-right: .5rem;
  color: var(--color-neutral-300);
}

[about="/blogs-signup"] p {
  padding: 1rem 0;
}

.image-subscribe-page {
  max-width: 38rem;
}

@media screen and (max-width: 620px)  {
  .image-subscribe-page {
    display: none;
  }
}

/* Subscribe & Unsubcribe Forms */

.og-subscribe-confirm-form #edit-uid-wrapper,
.og-subscribe-confirm-form  #edit-roles-wrapper{
  padding: 1rem 0;
}

fieldset#edit-roles--wrapper .fieldset-wrapper {
  padding-left: .5rem;
}

.og-subscribe-confirm-form > #edit-actions,
.og-unsubscribe-confirm-form > #edit-actions  {
 display: flex;
 margin-top: 2rem;
}


/* 404 */

.image-404-page {
  max-width: 38rem;
}

@media screen and (max-width: 620px)  {
  .image-404-page {
    display: none;
  }
}

/* Footer */

@media screen and (max-width: 620px)  {
  #block-linkstocopyrightstatementandthecreativecommonsliscense > div > p {
    max-width: 30ch;
  }
}