{#
/**
 * @file
 * Default theme implementation to display a formatted colorbox image field.
 *
 * Available variables:
 * - responsive_image: A collection of responsive image data.
 * - url: An URL the image can be linked to.
 * - attributes: Link attributes.
 *
 * @see template_preprocess_colorbox_responsive_formatter()
 *
 * @ingroup themeable
 */
#}

<a href="{{ url }}"{{ attributes }}>{{ responsive_image }}</a>