{%
  set classes = [
  'layout-example-test',
  'clearfix',
]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    <div>
      <span class="setting-1-label">Blah: </span>
      {{ settings.setting_1 }}
    </div>
    <div class="region-top">
      {{ content.top }}
    </div>
    <div class="region-bottom">
      {{ content.bottom }}
    </div>
  </div>
{% endif %}