/* COMPONENTS */

/* Header */

.website-header {
  padding-top: var(--space-medium);
  padding-bottom: var(--space-medium);
  border-bottom: solid 2px var(--color-neutral-100);
}

.umlib-messages {
  width: 100%;
}

/* Adds styling for the status message in header */
.umlib-messages > div> div {
  margin-top: 1rem;
  padding: 8px;
  background: var(--color-teal-100);
  border-left: solid 2px var(--color-teal-400);
}

.website-logo-link {
  margin-right: var(--space-medium);
  display: inline-block;
  line-height: 0;
}

.website-name {
  display: inline-flex;
  align-items: center;
  color: var(--color-neutral-300);
  text-decoration: none;
  line-height: 0;
  font-size: var(--text-medium);
  text-transform: uppercase;
  line-height: 1.1;
  letter-spacing: 0.5px;
}

.website-name a:hover {
  text-decoration: underline;
}

.website-logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.website-header_inner-container div:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.umlib-messages div, .umlib-messages div div {
  display: block !important;
}

/* Footer */

.footer {
  background-color: var(--color-blue-400);
  margin-top: 4rem;
}

.footer__content {
  color: var(--color-blue-100);
  padding: 3rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  gap: 2.5rem;
}

.footer__content a {
  color: var(--color-blue-100);
  text-decoration: none;
}

.footer__content h2 {
  color: var(--color-blue-200);
  font-size: 0.875rem;
  font-weight: 800;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.footer__content ul {
  padding-left: 0;
  margin-top: 0;
}

.footer__content ul li {
  list-style: none;
}

.footer__content ul li a {
  display: inline-block;
  padding: 8px 0;
  text-decoration: underline;
}

.footer__content p a {
  text-decoration: underline;
}

.footer__content .first-column ul li a {
  text-decoration: none;
  display: flex;
  align-items: baseline;
}

.footer__content .first-column ul li a svg {
  margin-right: .5rem;
}

.footer__disclaimer {
  background: var(--color-blue-500);
  color: var(--color-blue-200);
  padding: 16px 0;
}

.footer__disclaimer p {
  display: inline-block;
}

.footer__disclaimer p {
  margin: 0;
}

.footer__disclaimer a {
  color: var(--color-blue-200);
}

.footer__disclaimer p+p {
  margin-left: 32px;
}

@media screen and (max-width: 768px) {
  .footer__disclaimer p+p {
    margin-left: 0;
  }
}


/* Skip link */

.skip-links {
  background: var(--color-blue-400);
  padding: 2rem;
  margin: 0 auto;
}

.skip-links > div {
  text-align: center;
}

.skip-links ul {
  padding-left: 0;
}

.skip-links ul li {
  margin: 16px 0;
  text-align: center;
}

.skip-links a {
  color: #fff;
  padding: 8px;
  margin: 0 auto;
}

.skip-links:not(:focus-within) {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* Buttons _buttons.scss */

button,
.button {
  border: none;
  outline: none;
  display: inline-block;
  padding: 12px 24px;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 700;
  font-family: var(--font-base-family);
  border-radius: var(--radius-default);
}

button:focus,
.button:focus {
  outline: 0 !important;
  box-shadow: 0 0 0 2px var(--color-maize-400),
    0 0 0 3px var(--color-neutral-400) !important;
  border-radius: 2px !important;
}

.button--primary {
  background: var(--color-teal-400);
  color: #fff;
}

.button--secondary {
  background: var(--color-neutral-100);
  color: var(--color-neutral-400);
}

.button--critical {
  background: var(--color-pink-500);
  color: #fff;
}

.button--outline,
.button--ghost {
  background: none;
  border: solid 1px;
  color: var(--color-neutral-400);
}

.button--search {
  background: var(--color-maize-400);
  color: var(--color-neutral-400);
}

/* Search Forms */

input[type="text"] {
  height: 40px;
  font-size: 1rem;
  margin: 0;
  border: solid 1px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 1px 4px rgb(0 0 0 / 10%);
  border-radius: 4px;
  padding: 0.5rem 0.75rem;
  width: 250px !important;
  appearance: textfield;
  font-family: inherit;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: var(--color-maize-400);
  color: var(--color-neutral-400);
  display: flex;
  align-items: center;
  border-radius: 2px;
  min-height: 2.5rem;
  padding: 0.5rem 1rem;
  margin: 0;
}

select {
  height: 40px;
  font-size: 1rem;
  margin: 0;
  border: solid 1px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 1px 4px rgb(0 0 0 / 10%);
  border-radius: 4px;
  padding: 0.5rem 0.75rem;
  width: 200px !important;
  font-family: inherit;
  color: var(--color-neutral-00);
}

/* Pagination */
ul.pager__items.js-pager__items {
  margin-top: 2rem;
  text-align: center;
}

li.pager__item {
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  background: var(--color-neutral-100);
  margin: 0.25rem;
}

li.pager__item.is-active {
  background-color: var(--color-teal-400);
}

li.pager__item a {
  color: var(--color-neutral-400);
  text-decoration: none;
  font-weight: var(--semibold);
  padding: 1rem 1.25rem;
  border-bottom: solid 2px transparent;
}

li.pager__item.pager__item--ellipsis {
  color: var(--color-neutral-400);
  text-decoration: none;
  font-weight: var(--semibold);
  padding: 1rem 1.25rem;
  background-color: transparent;
  font-size: 1.35rem;
  border-bottom: solid 2px transparent;
}

li.pager__item.is-active a {
  color: #fff;
}

li.pager__item.is-active a:hover {
  color: #fff;
  border-bottom: solid 2px var(--color-maize-400);
  border-radius: 4px;
}

li.pager__item a:hover {
  border-bottom: solid 2px var(--color-teal-400);
  border-radius: 4px;
}
