/* COMPONENTS */

/* Header */

.website-header {
  padding-top: var(--space-medium);
  padding-bottom: var(--space-medium);
  border-bottom: solid 2px var(--color-neutral-100);
}

.umlib-messages {
  width: 100%;
}

.website-logo-link {
  margin-right: var(--space-medium);
  display: inline-block;
  line-height: 0;
}

.website-name {
  display: inline-flex;
  align-items: center;
  color: var(--color-neutral-300);
  text-decoration: none;
  line-height: 0;
  font-size: var(--text-medium);
  text-transform: uppercase;
  line-height: 1.1;
  letter-spacing: 0.5px;
}

.website-name a:hover {
  text-decoration: underline;
}

.website-logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.website-header_inner-container div:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Menus */

#block-umlib-blogs-usermenu ul li a,
#block-umlib-blogs-usermenu ul li,
.primary-edit-tasks li,
.primary-edit-tasks li a {
  text-transform: uppercase;
  color: var(--color-neutral-300);
  text-decoration: none;
}

#block-umlib-blogs-usermenu ul li a:hover {
  text-decoration: underline;
}

#block-umlib-blogs-usermenu ul li,
.primary-edit-tasks li {
  padding-right: .75rem;
}

span[data-drupal-link-system-path="user"] {
  text-transform: lowercase;
  padding-left: .25rem;
}

span[data-drupal-link-system-path="user"]::before {
  font-family: "Material Icons";
  content: '\e7fd';
  vertical-align: bottom;
  padding-right: .125rem;
}

.primary-edit-tasks {
  display: flex;
  justify-content: right;
  flex-flow: row wrap;
}

/* Footer */

.footer {
  background-color: var(--color-blue-400);
  margin-top: 2rem;
}

.footer__content {
  color: var(--color-blue-100);
  padding: 3rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  gap: 2.5rem;
}

.footer__content a {
  color: var(--color-blue-100);
  text-decoration: none;
}

.footer__content h2 {
  color: var(--color-blue-200);
  font-size: 0.875rem;
  font-weight: 800;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.footer__content ul {
  padding-left: 0;
  margin-top: 0;
}

.footer__content ul li {
  list-style: none;
}

.footer__content ul li a {
  display: inline-block;
  padding: 8px 0;
  text-decoration: underline;
}

.footer__content p a {
  text-decoration: underline;
}

.footer__content .first-column ul li a {
  text-decoration: none;
  display: flex;
  align-items: baseline;
}

.footer__content .first-column ul li a svg {
  margin-right: .5rem;
}

.footer__disclaimer {
  background: var(--color-blue-500);
  color: var(--color-blue-200);
  padding: 16px 0;
}

.footer__disclaimer p {
  display: inline-block;
}

.footer__disclaimer p {
  margin: 0;
}

.footer__disclaimer a {
  color: var(--color-blue-200);
}

.footer__disclaimer p+p {
  margin-left: 32px;
}

/* Breadcrumb */

.breadcrumbs ol {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs li:first-child a {
  padding-left: 0;
}

.breadcrumbs a {
  display: inline;
  padding: 16px 12px;
}

.breadcrumbs li {
  font-size: 0;
}

.breadcrumbs a {
  font-size: 1rem;
}

.breadcrumbs a[aria-current="page"] {
  color: var(--color-neutral-400);
  text-decoration: none;
}

.breadcrumbs a[aria-current="page"]:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.breadcrumbs li:not(:first-child):before {
  content: "\2215";
  font-size: 1rem;
}

.breadcrumbs li:not(:first-child):before {
  content: "\203A" !important;
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  .breadcrumbs li:not(:last-child) {
    display: none;
  }
}

/* Skip link */

.skip-links {
  background: var(--color-blue-400);
  padding: 12px;
  margin: 0 auto;
}

.skip-links ul {
  padding-left: 0;
}

.skip-links ul li {
  margin: 16px 0;
  text-align: center;
}

.skip-links a {
  color: #fff;
  padding: 8px;
}

.skip-links:not(:focus-within) {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* Buttons _buttons.scss */

button,
.button {
  border: none;
  outline: none;
  display: inline-block;
  padding: 12px 24px;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 700;
  font-family: var(--font-base-family);
  border-radius: var(--radius-default);
}

button:focus,
.button:focus {
  outline: 0 !important;
  box-shadow: 0 0 0 2px var(--color-maize-400),
    0 0 0 3px var(--color-neutral-400) !important;
  border-radius: 2px !important;
}

.button--primary {
  background: var(--color-teal-400);
  color: #fff;
}

.button--secondary {
  background: var(--color-neutral-100);
  color: var(--color-neutral-400);
}

.button--critical {
  background: var(--color-pink-500);
  color: #fff;
}

.button--outline,
.button--ghost {
  background: none;
  border: solid 1px;
  color: var(--color-neutral-400);
}

.button--search {
  background: var(--color-maize-400);
  color: var(--color-neutral-400);
}

/* A-Z Cards */

.views-row {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/* Search Forms */

form#views-exposed-form-all-posts-page-1 {
  display: flex;
}

/* Tags */

.tags .views-field.views-field-name {
  background-color: var(--color-neutral-100);
  border-radius: 4px;
  padding: .5rem;
}

.tags .views-field.views-field-tid {
  display: none;
}

.tags .views-field.views-field-name a {
  text-decoration: none;
  color: var(--color-neutral-400);
}

.tags .views-field.views-field-name a:hover {
  font-weight: bold;
}

.tags>div>div {
  display: flex;
  flex-flow: row wrap;
  gap: 12px;
}

/* Recent Posts */

.recent-posts .views-field.views-field-created span.field-content {
  color: var(--color-neutral-300);
  text-transform: uppercase;
  font-weight: var(--semibold);
  font-size: var(--text-base-size);
}

.recent-posts .views-field.views-field-title span.field-content a {
  color: var(--color-neutral-400);
  font-size: 18px;
}