{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
  <div class="website-logo-container">
  {% if site_logo %}
    <a class="website-logo-link" href="https://www.lib.umich.edu/">
      <img src="{{ site_logo }}" alt="{{ 'UM Library Website'|t }}" />
    </a>
  {% endif %}
  {% if site_name %}
    <a class="website-name" href="{{ path('<front>') }}" rel="home">{{ site_name }}</a>
  {% endif %}
    </div>
{% endblock %}
