{#
/**
 * @file ogmenu_instance.html.twig
 * Default theme implementation to present OG Menu instance data.
 *
 * This template is used when viewing OG Menu instance pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_ogmenu_instance()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('ogmenu_instance') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
